@tailwind base;
@tailwind components;
@tailwind utilities;

/* import fontfamily */

@font-face {
  font-family: "CircularStd";
  src: url("../public/assets/fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("../public/assets/fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("../public/assets/fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@layer components {
  body {
    @apply font-CircularStd;
  }

  .header-container {
    @apply mx-auto max-2xl:px-6 w-full 2xl:w-[1550px] h-[55px] my-3 flex items-center justify-between;
  }

  .primary-btn {
    @apply bg-primary text-center w-fit rounded-[5px] px-4 py-[19.5px] leading-none text-white text-base font-medium;
  }
  .container {
    @apply mx-auto max-xl:px-6 w-full xl:w-[1160px];
  }
  .common-gap {
    @apply py-[123px];
  }
  .top-icon-shadow {
    box-shadow: 0px 32px 54px 0px rgba(37, 138, 255, 0.22);
  }

  .my-custom-pagination-div .swiper-pagination-bullet {
    @apply w-[29px] h-1 inline-block rounded-full bg-primary cursor-pointer;
  }
}
