@tailwind base;
@tailwind components;
@tailwind utilities;

/* import fontfamily */

@font-face {
  font-family: "CircularStd";
  src: url("../public/assets/fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("../public/assets/fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("../public/assets/fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
